<div class="container">
      <div class="row demo-samples">
        <div class="span4">
          <div class="todo mrm">
            <div class="todo-search">
              <input class="todo-search-field" type="search" value="" placeholder="Search">
            </div>
            <ul>
              <li class="todo-done">
                <div class="todo-icon fui-man-24"></div>
                <div class="todo-content">
                  <h4 class="todo-name">
                    Meet <strong>Adrian</strong> at <strong>6pm</strong>
                  </h4>
                  Times Square
                </div>
              </li>

              <li>
                <div class="todo-icon fui-menu-24"></div>
                <div class="todo-content">
                  <h4 class="todo-name">
                    Chat with <strong>V.Kudinov</strong>
                  </h4>
                  Skype conference an 9 am
                </div>
              </li>

              <li>
                <div class="todo-icon fui-eye-24"></div>
                <div class="todo-content">
                  <h4 class="todo-name">
                    Watch <strong>Iron Man</strong>
                  </h4>
                  1998 Broadway
                </div>
              </li>

              <li>
                <div class="todo-icon fui-time-24"></div>
                <div class="todo-content">
                  <h4 class="todo-name">
                    Fix bug on a <strong>Website</strong>
                  </h4>
                  As soon as possible
                </div>
              </li>
            </ul>
          </div>
        </div> <!-- /todo list -->

        <div class="span8 demo-video">
          <!--[if !IE]> -->
            <div id="" class="video-js vjs-paused" width="620" height="349" style="width: 620px; height: 349px;">
            
            <video autoplay class="vjs-tech" preload="auto" data-setup="{}" id="sourcevid">
              
              
            </video>
                <button type="button" onclick="startVideo();">Start video</button>
                <button type="button" onclick="stopVideo();">Stop video</button>
               
        </div>
       <!-- <![endif]-->


        </div> <!-- /video -->
      </div>
    </div> <!-- /container -->