<div class="container">
      <div class="row demo-samples">
        <div class="span4">
          <div class="todo mrm">
            <div class="todo-search">
              <input class="todo-search-field" type="search" value="" placeholder="Search">
            </div>
            <ul>
              <li class="todo-done">
                <div class="todo-icon fui-man-24"></div>
                <div class="todo-content">
                  <h4 class="todo-name">
                    Meet <strong>Adrian</strong> at <strong>6pm</strong>
                  </h4>
                  Times Square
                </div>
              </li>

              <li>
                <div class="todo-icon fui-menu-24"></div>
                <div class="todo-content">
                  <h4 class="todo-name">
                    Chat with <strong>V.Kudinov</strong>
                  </h4>
                  Skype conference an 9 am
                </div>
              </li>

              <li>
                <div class="todo-icon fui-eye-24"></div>
                <div class="todo-content">
                  <h4 class="todo-name">
                    Watch <strong>Iron Man</strong>
                  </h4>
                  1998 Broadway
                </div>
              </li>

              <li>
                <div class="todo-icon fui-time-24"></div>
                <div class="todo-content">
                  <h4 class="todo-name">
                    Fix bug on a <strong>Website</strong>
                  </h4>
                  As soon as possible
                </div>
              </li>
            </ul>
          </div>
        </div> <!-- /todo list -->

        <div class="span8 demo-video">
            <div id="" class="video-js vjs-paused" width="620" height="349" style="width: 620px; height: 349px;">
                
                <video autoplay class="vjs-tech" preload="auto" data-setup="{}" id="sourcevid"></video>
                
                <div class="vjs-controls">
                        
                    <div ng-click="shareVideo()" class="vjs-play-control vjs-control " tabindex="0"><div><span class="vjs-control-text">Start</span></div></div>
                    <div class="vjs-current-time vjs-time-controls vjs-control"><div class="vjs-current-time-display">0:00</div></div>
                    <div class="vjs-time-divider"><div><span>/</span></div></div>
                    <div class="vjs-duration vjs-time-controls vjs-control"><div class="vjs-duration-display">0:29</div></div>
                </div>
            </div>
              
            
       <!-- <![endif]-->


        </div> <!-- /video -->
      </div>
      
       <div class="row demo-samples">
        <div class="span10">
            <div class="comment-list">
                <section class="opener">
            <div class="avatar user2"></div>
            <div class="postmeta">
              <span class="time">3 days</span>
            </div>
            <span class="name">Vera</span><span class="location">from Campus Library</span>
            <p>Pretend. You pretend the feelings are there, for the world, for the people around you.</p>
          </section>
            </div>
            
        </div>
        <div class="span2">
          <h3 class="demo-panel-title">&nbsp;</h3>
          <h6 class="palette-headline">SWATCHES</h6>
          <p class="palette-paragraph">
            Colors — is almost the most important part of the <strong>Flat UI</strong>. Better to use different shades of provided colors than new.
          </p>
          <p class="palette-paragraph">
            For your conveniense we also provide <strong>Swatches Preset</strong> <span>(flat‑ui‑swatches.aco in the Pack folder).</span>
          </p>
          <p class="palette-paragraph">
            <strong>No gradients, no shadows.</strong>
          </p>
        </div>
        
      
      
    </div> <!-- /container -->